header.header
  .header__container.container
    .menu

      a.menu__logo(href='#')  

      ul.menu__list
        each val in ['']
          li.menu__item 
            a.menu__link(href='#')= val

      .menu__burger
        span
