extends layouts/default
include ../blocks/components/button/button.pug

block variables
	- const title = "gulp-pug-starter";

block content
	+button('Hello')

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
